<html>
<head><title>CMR Call Quality Exception Report {{start_date.strftime('%Y-%m-%d %H:%M:%S')}} - {{end_date.strftime('%Y-%m-%d %H:%M:%S')}}</title></head>
<body>
<h2>CMR Call Quality Exception Report {{start_date.strftime('%Y-%m-%d %H:%M:%S')}} to {{end_date.strftime('%Y-%m-%d %H:%M:%S')}}</h2>

<a id="toc"><h3>Table of Contents</h3></a>
<ul>
<li><a href="#summary">Summary</a></li>
<ul><li><a href="#devices_by_count">Devices by Total CMR Instances</a></li></ul>
<li><a href="#cmr_exceptions">CMR Exceptions</a></li>
<ul>
{% for cdr_exception in cdr_exceptions %}
<li><a href="#{{- cdr_exception.orig_device_name if cdr_exception.orig_device_name != None else "None" -}}_
{{- cdr_exception.dest_device_name if cdr_exception.dest_device_name != None else "None" -}}_">
{{"Source: " + cdr_exception.orig_device_name if cdr_exception.orig_device_name != None}}
{{"Destination: " + cdr_exception.dest_device_name if cdr_exception.dest_device_name != None}}
</a></li>
{% endfor %}
</ul>
</ul>

<a id="summary"><h3>Summary</h3></a>
<b><font color="orange">Amber exception count: {{amber_count}}</font><br>
<font color="red">Red exception count: {{red_count}}</font></b><p>

<a id="devices_by_count"><b>Devices by Total CMR Instances</b></a><br>
<table border="1">
<tr><th>Device</th><th>Count</th></tr>
{% for device, count in devices_cntr.items() %}
<tr><td>{{device}}</td><td>{{count}}</td></tr>
{% endfor %}
</table><p>

<a id="cmr_exceptions"><h3>CMR Exceptions</h3></a>
{% for cdr_exception in cdr_exceptions %}
{% if cdr_exception.cdr_instances|length >= config_settings['mos_red_threshold'] %}
<font color="red">
{% else %}
<font color="orange">
{% endif %}
<a id="{{- cdr_exception.orig_device_name if cdr_exception.orig_device_name != None else "None" -}}_
{{- cdr_exception.dest_device_name if cdr_exception.dest_device_name != None else "None" -}}_">
<b>Instance count: {{cdr_exception.cdr_instances|length}}</a><br>
</font></a>
Source device: {{cdr_exception.orig_device_name if cdr_exception.orig_device_name != None}}<br>
Destination device: {{cdr_exception.dest_device_name if cdr_exception.dest_device_name != None}}<br>

<table border="1">
<tr><th>callManagerId</th><th>globalCallID_callId</th><th>dateTimeStamp</th><th>origIpv4v6Addr</th>
<th>destIpv4v6Addr</th><th>callingPartyNumber</th><th>originalCalledPartyNumber</th><th>finalCalledPartyNumber</th>
<th>origDeviceName</th><th>destDeviceName</th><th>origVarVQMetrics</th><th>destVarVQMetrics</th><th>duration</th></tr>
{% for cdr in cdr_exception.cdr_instances %}
<tr><td>{{cdr.global_callmanager_id}}</td><td>{{cdr.global_call_id}}</td>
<td>{{cdr.date_time_origination.strftime('%Y-%m-%d %H:%M:%S')}}</td><td>{{cdr.orig_ipv4v6_addr}}</td>
<td>{{cdr.dest_ipv4v6_addr}}</td><td>{{cdr.calling_party_number}}</td><td>{{cdr.original_called_party_number}}</td>
<td>{{cdr.final_called_party_number}}</td><td>{{cdr.orig_device_name}}</td><td>{{cdr.dest_device_name}}</td>
<td>{{cdr.orig_vq_metrics}}</td><td>{{cdr.dest_vq_metrics}}</td><td>{{cdr.duration}}</td></tr>
{% endfor %}
</table><p>
{% endfor %}
</body>
</html>